@charset 'UTF-8';
@font-face {
    font-family: 'THEmpgt';
    src: url('../fonts/THEmpgtR.otf');
}

/* reset */
*{margin: 0; padding:0;}
body{font-family: 'THEmpgt';}
.blind{font-size: 0; position: absolute; left: -9999px; text-indent: -9999px;}
li{list-style: none;}
a{text-decoration: none; color: #000; display: inline-block;}
button{background: none; border: none;}

/* icon */
.icon{background-image:url(../sprite.png); display: inline-block; background-size: 1000px 1000px;}

/* header */
.input-box{background: #F7ECD2; height: 320px; text-align: center;}
.input-box span{font-size: 30px; padding-top: 120px; display: block;}
.input-box p{font-size: 14px; color: #595959; padding: 20px 0;}
.password-input{position: absolute; left: 50%; transform: translateX(-50%);}
.password-input li{
    width: 20px; border: 2px solid #F2D4AE;
    float: left; margin: 30px 10px;
}
.password-input li.active{
    width: 20px; height: 20px; 
    float: left; margin: 20px 10px;
    background: #F2D4AE; border-radius: 50%;
}
.password-keypad{
    width: 360px; height: 320px; 
    background: #fff; 
    position: absolute; 
    left: 50%; transform: translateX(-50%);
}
.password-keypad ul{
    width: 100%; height: 320px; 
    padding: 40px 30px;
    box-sizing: border-box;
}
.password-keypad li{
    width:80px; height: 60px; 
    line-height: 60px; text-align: center;
    float: left; margin: 0 10px;
    font-size: 30px; color: #595959;
    padding: 0 30px;
    position: relative;
    box-sizing: border-box;
}
.password-keypad li.active{color: #F2D4AE;}
.password-keypad .delete{padding: 10px 15px;}